
#_1
{
    width:1024px;
	height:768px;
	left:null;
	top:null;
	opacity:1;
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	position:relative;
	
}

#_2
{
    width:1024px;
	height:42px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#eee;
	border-width:1px;
	padding-left:20px;
	padding-top:0px;
	padding-right:20px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_3
{
    width:60px;
	height:42px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	font-family:TomsHandwritten;
	font-size:28px;
	color:#515151;
	overflow:hidden;
	line-height:37px;
	text-align:center;
	
}

#_4
{
    width:80px;
	height:42px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	background:#ccc;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:38px;
	text-align:center;
	
}

#_5
{
    width:80px;
	height:42px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	line-height:38px;
	text-align:center;
	
}

#_6
{
    width:80px;
	height:42px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	line-height:38px;
	text-align:center;
	
}

#_7
{
    width:240px;
	height:30px;
	left:308px;
	top:6px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_8
{
    width:187px;
	height:30px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-bottom-left-radius:15px;
	-ms-border-bottom-left-radius:15px;
	-o-border-bottom-left-radius:15px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-top-left-radius:15px;
	-ms-border-top-left-radius:15px;
	-o-border-top-left-radius:15px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	background:#fff;
	border-color:#686868;
	border-style:solid;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:30px;
	
}

#_9
{
    width:74px;
	height:30px;
	left:166px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:-4px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-bottom-right-radius:15px;
	-ms-border-bottom-right-radius:15px;
	-o-border-bottom-right-radius:15px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-top-right-radius:15px;
	-ms-border-top-right-radius:15px;
	-o-border-top-right-radius:15px;
	overflow:hidden;
	border-color:#686868;
	border-style:solid;
	background:#fff;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:0px;
	
}

#_10
{
    width:400px;
	height:140px;
	left:115px;
	top:101px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_11
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_12
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_13
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

#_14
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_15
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_16
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

#_17
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_18
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_19
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

#_20
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_21
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_22
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

#_23
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_24
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_25
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

#_26
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_27
{
    width:200px;
	height:47px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_28
{
    text-align:center;
	left:0px;
	width:200px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:10px;
	
}

svg:not(:root)
{
    overflow:visible;
	
}

.navbar
{
    min-height:inherit;
	position:absolute;
	
}

.navbar *
{
    position:static;
	
}

.navbar .container-fluid
{
    padding:0;
	
}

table
{
    display:table;
	
}

table tr
{
    position:static;
	display:table-row;
	
}

table td
{
    position:relative;
	display:table-cell;
	
}

.nm-label
{
    margin:0;
	
}

ol.nm-label *, ul.nm-label *
{
    position:static;
	
}

.nm-label p
{
    margin-bottom:0;
	
}

ul, ol
{
    padding:0;
	
}

ol > li > ol
{
    margin-left:8px;
	
}

ul > li > ul
{
    margin-left:8px;
	
}

ol.nm-label, ol.nm-label ol
{
    counter-reset:item;
	
}

ol.nm-label li:not(.skip):before
{
    content:counters(item, ".") " ";
	counter-increment:item;
	
}

ol.nm-label li.skip:before
{
    content:"\a0";
	
}

ul.nm-label
{
    padding-left:20px;
	
}

ul.nm-label, ul.nm-label ul
{
    list-style-type:disc;
	
}

ul.nm-label li
{
    display:list-item;
	
}

ul.nm-label li.skip
{
    display:block;
	
}

ul.nm-label li.skip:before
{
    content:"\a0";
	
}
